p {
    font-size: 16px;
}

body {
    background-color: #011638;
    color: white;
    font-family: system-ui;
    margin-inline: auto;
    margin: 20px;
}

main {
    background-color: #2E294E;
}

.role {
    
}
